html * {
    margin: 0px;
    padding: 0px;
    font-family: 'Arima', monospace, serif;
    letter-spacing: 1px;
    
}

body{
    background: linear-gradient(#111,rgb(54, 54, 54));
    background-attachment: fixed ;   
    overflow-x: hidden;
    box-sizing: border-box;
    font-family: monospace;
    width: 100%;
    max-width: 100dvw;
    overflow-x: hidden;
}

header, footer {
    position: fixed;
    text-align: center;
    
    width: 100%;
    font-size: 10px;
    background: rgba(0, 0, 0, 0.678);
    color: white;
    z-index: 20;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px;
    overflow-x: hidden;
}

header {
    top: 0;
    font-size: .5rem;
}

footer {
  display: flex;
  bottom: 0;
  width: 100%;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    height: 100dvh;
}
section>div{
    width: 50%;
}

.mensaje {
    max-width: 95%;
}

.mensaje >h1 {
    animation: marquesina 2s linear infinite;

}

.marquee {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
  }
  
  .marquee h1 {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 15s linear infinite;
  }
  
  @keyframes marquee {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(-100%, 0);
    }
  }


.logo {
    transform: scale(.85);
    justify-content: center;
    align-items: center;
    display: flex;
}


.logo > img {
    width: 300px;
}

.div-reflex {
    background: linear-gradient(#111111e0,#222222d0) ;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 400px;
    height: fit-content; 
    box-shadow: -10px 10px 20px black;
    img{
        border-radius: 12px;
        box-shadow: 0 0 5px;
    }
}

.div-reflex > h2,h3 {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
}
.div-reflex > p {
    display: block;
    color: white;
}

@keyframes marquesina {
    0% { left: 0; }
    100% { left: -100%; }  
}

.mensaje-error {
    color: rgb(243, 241, 241);
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 2rem;
    text-align: center;
    margin-top: 20px;
    font-family: 'Arima', serif;
}

aside {
    z-index: 99999!important;
    padding: 20px;
    position: fixed;
    top: 50px;
}

ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

li {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    color: black;
    cursor: pointer;
    opacity: .7;
    box-shadow: 0 0 5px;
    background: linear-gradient(#3738379d,#777775a4);
    text-decoration: none;   
    list-style: none;
   /*  background-color: #ffee00bb; */
}

.hover-rojo:hover{
    background-color: red;
}
.hover-ama:hover{
    background-color: yellow;
}
.hover-negro:hover{
    background-color: rgb(36, 1, 1);
}
.hover-gris:hover{
    background-color: rgb(99, 0, 99);
    opacity: 1;
}
.hover-verde:hover{
    background-color: green;
} 

.icono{
    max-width: 22px;
    max-height: 27px;
}
a {
    text-decoration:none;
}

.fa-whatsapp {
    transform: scale(1.3)!important;
    color: black;
    font-weight: bolder;

}

li:hover::after {
    content: attr(data-content);
    position: absolute;
    background-color: #454946;
    border-radius: 5px;
    text-align: center;
    font-size: 10px;
    left:50px;
    padding: 4px;
    box-shadow: 0 0 8px black;
    display: flex;
    animation: slidein 1s linear;
} 

li:hover, li:hover > .fa-whatsapp {
    color: white;
    transform: scale(1.1);
    transition: .5s;
    border-color: white;
    opacity: 1;
}

li:active {
    transform: scale(.9);
}


.modal {
    display: none;
    position: fixed;
    z-index: 999999999999!important;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow:hidden;
    /* background-color: rgba(32, 2, 2, 0.575); */
    justify-content: center;
    align-items: center;
}

.modal-content {
    display: flex;
    flex-direction: column;
    background-color: #bbadad;
    padding: 26px;
    border: 1px solid #888;
    border-radius: 20px;
    box-shadow: 0 0 10px;
    width: 85%;
    z-index: 999;
    overflow: auto;
    max-height: 90%;
}

.modal-cursiva{
    margin-block: 10px;
}

.texto-somos{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    }

.parrafo-somos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.parrafo-somos p{
    width: 80%;
    text-align: justify;
    margin-top: 10px;
}

.parrafo-somos img{
    max-width: 180px;
    
}


.galería-memes{
    display: grid;
    grid-template-columns: repeat(
        auto-fit,
        minmax(250px, 1fr)
        );
    gap: 32px;
    padding: 20px;
    align-items: center;
}


.galería-memes > div{
    border-radius: 8px;
    background-color: rgba(82, 78, 78, 0.651);
    display:flex;
    flex-direction: column;
    gap: 8px;
    p{
        padding: 8px;
        font-size: small;
    }
    img{
        width: 100%;
        height: auto;
        box-shadow: 0 0 8px black;
    }
}

article{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h2{
    color: white;
    padding: 20px;
  }
  img{
    width: 90%;
    
    box-shadow: 0 0 10px;
  }
}




.modal-content div h2 {
    text-align: center;
}

.modal-content div h4 {
    text-align: center;  
}

.modal-content span{
    color: #313131;
    font-size: 28px;
    font-weight: bold;
    text-align: right;    
    position: absolute;
    display: flex;
    justify-content: flex-end;
    left: 90%;
}

.modal-content span:hover,
.modal-content span:focus {
    color: rgb(219, 15, 15);
    text-decoration: none;
    transition: .6s;
    cursor: pointer;
    transform: scale(2);
}
.display-none{
    display: none;
}

.mostrar-modal {
    display: flex;
    animation: slidein .5s linear;
}

@keyframes slidein {
    0% {
    opacity: 0;
    }

    100% {
    opacity: 1;
    }
}

/* SLIDER PRODUCTOS*/




.titulo-prod{
    padding: 20px;
}

.slider-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.slider-prod{
    display: block;
text-align: center;
padding: 10px;
img{
    margin: auto;
}
}

.slider-prod > h5{
    font-size: 12px;
    color: #222;
    text-align: left;
    position: relative;
    max-width: 300px;
    display: flex;
    justify-content: center; 
}

.slider-prod >h5>b{
    float: left;
}


.slider-img {
    border-radius: 8px;
    width: 100%;
    height: auto;
    box-shadow: 0 0 8px black;
}

.slider{
    display: grid;
    grid-template-columns: repeat(
        auto-fit,
        minmax(250px, 1fr)
        );
    gap: 32px;
}


.ver-mas{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: #111 solid 2px;
    transition: .3s;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: #111111ea;
}

.ver-mas:hover{
    transition: .3s;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    outline: solid 5px red;
    
}

.ver-mas:hover::after{
    content: '¡Ver todos en Youtube!';
    color: white;
    padding-top: 10px;
}

.slider > div {
    transition: all 2s;
}

.slider-img:hover {
    cursor:pointer;
    outline: 5px solid red;
    transition: .1s; 
}

.slider-img:active {
    opacity: 1;
    filter: contrast(130%);
}

.respo {
    display: flex;
    width: 100%;
    overflow: auto; 
}


@keyframes scroll {
    from {
        opacity: 0;
        transform:scale(25%);
        
    }
    to {
    opacity: 1;
    transform:scale(100%);
    
    }
}   
/* Works on Firefox */

/* Works on Chrome, Edge, and Safari */
.respo::-webkit-scrollbar {
    width: 8px;
}

.respo::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.466);
    height: 5px;
    box-shadow: 0 0 10 black;
}

.respo::-webkit-scrollbar-thumb {
    background-color: #20c000a4;
    border-radius: 20px;
    border: 3px solid rgba(225, 228, 28, 0.822);
    box-shadow: 0 0 10px white;
    height: 5px;
}

@media screen and (max-width: 350px) {
    .modal {
        max-width: 100%;
        display: flex;
    }

    .logo {
    transform: scale(.7);
    }
}


@media screen and (max-width: 799px) {
    section {
        margin: 30px;
        margin-top:80px;
        margin-bottom: 60px;
        height: unset;
    }
    
}